* {
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    background-image: url("https://xgm.guru/files/1565/174851/Picture.png");
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5% 7%;
    padding: 3% 0;
    width: 40%;
    height: 75%;
    border-radius: 50px;
    background-color: rgba(118, 62, 145, 0.336);
}

.project {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    width: 40%;
    border-radius: 25px;
    background-color: rgba(176, 135, 222, 0.589);
}

.notes {
    background-image: url("img/Notes-background.png");
    background-position: center;
    background-size: cover;
}

.calculator {
    background-image: url("img/Calculator-background.png");
    background-position: center;
    background-size: cover;
}

.weather {
    background-image: url("img/Weather-background.png");
    background-position: center;
    background-size: cover;
}

.pixel-art {
    background-image: url("img/Pixel-art-background.png");
    background-position: center;
    background-size: cover;
}